.container {
  display: flex;
  width: 100%;
  height: 440px;
  gap: 4px;
  max-width: 1000px;
  margin: 0 auto;
}

.card.active {
  flex: 3;
}

/* 移动端样式 - 屏幕宽度小于1000px */
.mobileContainer {
  flex-direction: column;
  height: auto;
  gap: 20px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.mobileContainer .card {
  width: 100% !important;
  height: 280px !important;
  flex: none !important;
  margin-bottom: 0;
}