.heroSection {
  height: calc(100vh - 64px);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}
.heroContainer {
  width: 100vw;
  height: 344px;
  background: linear-gradient(180deg, rgba(33, 37, 43, 0) 0%, #21252b 100%);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 49px;
}

.heroOverlay {
  text-align: center;
  z-index: 2;
}

.heroTitle {
  font-family: PingFang SC;
  font-weight: 600;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 24px;
}
