.heroSection {
  width: 100%;
  height: 640px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.heroOverlay {
  width: 100%;
  text-align: center;
  z-index: 2;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.heroOverlayContainer {
  width: 100%;
  height: 24%;
  background: linear-gradient(180deg, rgba(33, 37, 43, 0) 0%, #21252b 100%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.heroTitle {
  font-weight: 600;
  font-style: SemiBold;
  font-size: 40px;
  line-height: 100%;
  margin-bottom: 80px;
  color: #fff;
}