.cCustomtBtn {
  display: inline-block;
  cursor: pointer;
}
.contractBtn {
  width: 240px;
  height: 73px;
  background: url("/images/btn-contract.png") no-repeat center center;
  font-family: PingFang SC;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 8px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: url("/images/btn-contract-at.png") no-repeat center center;
    background-size: 240px 73px;
    color: #fff;
  }
  &:active {
    background: url("/images/btn-contract-at.png") no-repeat center center;
    background-size: 240px 73px;
    color: #fff;
  }
}
.learnMoreBtn {
  width: 200px;
  height: 48px;
  background: url("/images/btn-learn-more-df.png") no-repeat center center;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: url("/images/btn-learn-more-at.png") no-repeat center center;
    background-size: 200px 48px;
    color: #fff;
  }
  &:active {
    background: url("/images/btn-learn-more-at.png") no-repeat center center;
    background-size: 200px 48px;
  }
}
.contactEnBtn {
  display: inline-block;
  width: 240px;
  height: 72px;
  background: url("/home/ft-ct-btn.png") no-repeat center center;
  background-size: 240px 72px;
  &:hover {
    background: url("/home/ft-ct-btn-at.png") no-repeat center center;
    background-size: 240px 72px;
  }
}
