.cFooterSectionWrap {  
  max-width: 1000px;
  padding-top: 80px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  .footerBg {
    position: absolute;
    top: -200px;
    left: 0; 
  }

  .footerInvite {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.03) 0%, rgba(0, 0, 0, 0) 100%);
    margin-bottom: 280px;
  }
  .footerAddress {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 24px 0 40px;
    color: rgba(255, 255, 255, 0.4);
  }
}
