/* 智慧EV充电生态体系页面样式 */
.smartEvPage {
  min-height: 100vh;
}
.part3SectionTitle {
  position: relative;
}
.part3SectionTitleIcon {
  position: absolute;
  top: -10px;
  right: 350px;
}
.part3SectionTitleBg {
  position: absolute;
  top: -100px;
  right: 150px;
}

.part5SectionTitle {
  font-size: 40px;
  font-weight: 900;
  color: #fff;
  text-align: center;
}
.part5SectionSubTitle {
  font-size: 24px;
  font-weight: 400;
  margin-top: 12px;
}