.c-banner-section {
  position: relative;

  .banner-slide {
    height: 662px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .banner-content-wrapper {
    width: 100%;
    height: 484px;
    background: linear-gradient(180deg, rgba(33, 37, 43, 0) 0%, #21252b 100%);
    position: absolute;
    bottom: 0;
  }
  .banner-content-wrapper .banner-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px 16px 0 16px;
  }

  .custom-dots {
    bottom: 20px !important;

    li::after {
      background-color: rgba(75, 141, 255, 1) !important;
    }
  }
}
